<app-menu-header></app-menu-header>
<app-menu-sidebar class="sidebar"></app-menu-sidebar>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="text-center">Use the form below to change your password</p>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <input type="password" class="margin-bottom-10 input-lg form-control"
        formControlName="newPassword" [(ngModel)]="newPassword"
         placeholder="New Password" autocomplete="off">
        <input type="password" class="margin-bottom-10 input-lg form-control"
        formControlName="oldPassword" [(ngModel)]="oldPassword" 
        placeholder="Repeat Password" autocomplete="off">
        <input type="submit" class="col-xs-12 btn btn-add"
         data-loading-text="Changing Password..." value="Change Password">
      </form>
    </div><!--/col-sm-6-->
  </div><!--/row-->
</div>