<!-- <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title"></li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="nav-icon cui-speedometer"></i> 
            Users
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nav-icon cui-speedometer"></i> 
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nav-icon cui-speedometer"></i> 
              Tasks
            </a>
          </li>  
      </ul>
    </nav>
  </div> -->