$nav-background-color: #01C6D7;

.custom-navbar {
    width: 100%;
    background-color: $nav-background-color
}

.dark-blue {
    background-color:  #052963;
}

.nav-item{
    color: white;
}

#custom-btn-signin{
    background-color: #052963;
    border-color: #052963;
}